@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap");
/* font-family: 'Barlow', sans-serif;
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Bellefair', serif; */


body {
  color: #ffffff;
font-size: 16px;

}
/* NAV_____________________________________________________________ */
nav{
font-family: Barlow Condensed;
font-style: normal;
font-weight: normal;
}

.figmarect{
   right:37em;
    top:2.4em;
    width:22em;
}

.listing:hover{
  border-bottom: 4px solid #fff;
  transition: all 300ms linear;
}
.active-listing{
  border-bottom: 4px solid #fff;
}
/* ______________________________________________________ */


.h-destination{
font-family: Barlow Condensed;
font-size: 28px;
line-height: 34px;
letter-spacing: 4.725px;
/* text-transform: uppercase; */
color: #FFFFFF;
}
.unordered{
    font-family: Barlow Condensed;
/* font-style: normal;
font-weight: normal; */
line-height: 19px;
letter-spacing: 2.7px;

}

.unordered>li{
    margin: 0em 2em 0em 0em;
    color:#D0D6F9;
  
}

.unordered>li:hover{
  border-bottom: 4px solid #fff;
  transition: all 300ms linear;
}
.active-unordered{
  border-bottom: 4px solid #fff;
}
.moon{
    font-family: Bellefair;
/* font-style: normal;
font-weight: normal; */
font-size: 100px;
line-height: 115px;
text-transform: uppercase;
}

.ruler{
    width:85%;
}


#body{
    font-family: Barlow;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 32px;
color: #D0D6F9;
/* padding-right:5.4em; */
}
#footer1-section1,#footer2-section1{
font-family: Barlow Condensed;
font-size: 14px;
line-height: 17px;
letter-spacing: 2.3625px;
/* text-transform: uppercase; */
color: #D0D6F9;

}

#footer1-section2,#footer2-section2{
    font-family: Bellefair;
font-size: 28px;
line-height: 32px;
/* text-transform: uppercase; */
color: #FFFFFF;
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    body{
    background-image: url("/starter-code/assets/destination/background-destination-desktop.jpg");
     background-repeat: no-repeat;
  background-size: cover;
}

 }

 /* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
      body{
    background:no-repeat url("/starter-code/assets/destination/background-destination-tablet.jpg") center center;
    background-size: cover;
}
#body{
  /* padding-right:0; */
}

.ruler{
    width:100%;
}


}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 768.98px) { 
     body{
    background:no-repeat url("/starter-code/assets/destination/background-destination-tablet.jpg");
  background-size: 100% 100%;       
  }
.moon{
  font-size: 56px;
line-height: 64px;
}
#body{
  font-size: 15px;
line-height: 25px;
}    

.ruler{
    width:100%;
}

}

/* // Extra small devices portrait phones, less than 576px) */
@media (max-width: 575.98px) {
 body{
    background-image: url("/starter-code/assets/destination/background-destination-mobile.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}
.moon{
  font-size: 56px;
line-height: 64px;
}
#body{
  font-size: 15px;
line-height: 25px;
}
.ruler{
    width:100%;
}

.h-destination{
  font-size: 16px;
line-height: 19px;
letter-spacing: 2.7px;
}
}