@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap");
/* font-family: 'Barlow', sans-serif;
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Bellefair', serif; */


body {
  color: #ffffff;
font-size: 16px;

}

nav{
font-family: Barlow Condensed;
font-style: normal;
font-weight: normal;
}

.figmarect{
   right:37em;
    top:2.4em;
    width:22em;
}

.listing:hover{
  border-bottom: 4px solid #fff;
  transition: all 300ms linear;
}
.active-listing{
  border-bottom: 4px solid #fff;
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    body{
    background-image: url("/starter-code/assets/destination/background-destination-desktop.jpg");
     background-repeat: no-repeat;
  background-size: cover;
}

 }